#certificado {
    text-align: center;
    margin: 50px;
    border: 2px solid #000;
    padding: 20px;
  }
  
  #nome {
    font-size: 24px;
    font-weight: bold;
  }
  
  #cpf {
    font-size: 18px;
  }
  